{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
You passed all understanding tests!
{% endblock %}

{% block content %}


	<p>
		We will now begin with the main part of the experiment. 

	</p>

	<p>	
		Recall: for each betting decision, you either see information about the incentives for the next betting decision first <b> OR </b> you will see the information about the quality of the picture immediately. 

	</p>

	<p>
		You have {{Constants.timer}} seconds to use the information in the picture. 
	</p>




    {% next_button %}

{% endblock %}