{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
Your incentives for Picture {{roundnumber}} out of {{Constants.num_rounds}}:
{% endblock %}

{% block content %}

				{% if mincharname == "The American Red Cross" %}
					<img src="{% static "charityevaluation/arc.jpg" %}"/>

				{% elif mincharname == "The Nature Conservancy" %}
					<img src="{% static "charityevaluation/nc.png" %}" height="79" width="230" />

				{% elif mincharname == "Operation Smile" %}
					<img src="{% static "charityevaluation/os.jpg" %}" height="77" width="200"/>

				{% elif mincharname == "The American Society for the Prevention of Cruelty to Animals" %}
					<img src="{% static "charityevaluation/aspca.png" %}" height="100" width="100"/>

				{% else %}
					<img src="{% static "charityevaluation/code.jpg" %}" height="99" width="101" />
				{% endif %}

<p> </p>

				
<p>  If the next picture is selected by the computer, your payoff and our donation to {{mincharname}} depend on your decision and the quality of the picture in the following way: </p>



{% include "picturebetting/incentive.html"%}

    {% next_button %}

{% endblock %}

{% block styles %}

 <style type="text/css">
 table.table1 {
     border: 1px solid black;
     background-color: #FFFACD;}

 table.table2 {
     border: 1px solid black;
     background-color: #AFEEEE;}
 </style>

{% endblock %}
 
