{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
How likely is it that the picture you just saw is good?
{% endblock %}

{% block content %}

    <p>
        Please tell us your opinion on how likely it is that the picture you just saw was good: with what probability does it show {{Constants.majoritywords}} words from the good list and {{Constants.minoritywords}} from the bad word list? A a good decision here may pay off in the form of a {{Constants.bonus}} bonus!
    </p>

    {% formfield player.expectationvalue with label="How likely is it that the picture you just saw is good?" %}


    {% next_button %}

{% endblock %}
