{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
Median commitment of previous round
{% endblock %}

{% block content %}


<p> In the previous round the median commitment to wait for the Make-A-Wish local chapter was {{median}} {% ifequal median one %} minute {% else %} minutes {% endifequal %}</p>

<p> That means that if the median choice of the previous roundwas implemented, Make-A-Wish Foundation would have received {{money}} for children in {{charity}}. </p>




    {% next_button %}

{% endblock %}
