{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
Median commitment of previous round
{% endblock %}

{% block content %}


<p> In the previous round the median commitment to wait for the Make-A-Wish local chapter was <b>{{median}} {% ifequal median one %} minute{% else %} minutes{% endifequal %}</b>.</p>

<p> That means that if the median choice of the previous round was implemented, Make-A-Wish Foundation would have received {{money}} for children in {{charity}}. </p>


<p> This was the last round of the experiment. Hence, on the next screen you will find out if you are the selected player to wait.</p>

    {% next_button %}

{% endblock %}
