{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
IRB regulatory information
{% endblock %}

{% block content %}


<!-- 	<p style="font-size:20px">
	<b>IRB regulatory information</b>
 	</p>
 -->

	<p style="font-size:10px">
	<b>Protocol Director:</b> Professor B. Douglas Bernheim
	</p>

	<p style="font-size:10px">
	<b>Protocol Number:</b> IRB-42264<br>
	
	IRB Approval Date: October 17, 2017 <br>

	Expiration Date: September 30, 2020 </p>

	<p style="font-size:10px">
	<b>DESCRIPTION:</b> You are invited to participate in a research study on decision-making. You will be asked to read several pages of instructions. Then you will be asked to make several choices that will determine the precise amount you will be paid, and then possibly answer several survey questions.
	</p>

	<p style="font-size:10px">
	<b>RISKS AND BENEFITS:</b> We cannot and do not guarantee or promise that you will receive any benefits from this study. There are no risks associated with this study.
	</p>

	<p style="font-size:10px">
	<b>TIME INVOLVEMENT:</b> Your participation in this experiment will take approximately as long as is indicated in the advertisement.
	</p>

	<p style="font-size:10px">
	<b>PAYMENTS:</b>	You will be compensated at the advertised rate. 
	</p>

	<p style="font-size:10px">
	<b>SUBJECT'S RIGHTS:</b> If you have read this form and have decided to participate in this project, please understand your participation is voluntary and you have the right to discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled. You have the right to refuse to answer particular questions. Your individual privacy will be maintained in all published and written data resulting from the study.
	</p>

	<p style="font-size:10px">
	<b>CONTACT INFORMATION:</b> <br>

	Questions, Concerns, or Complaints: If you have any questions, concerns or complaints about this research study, its procedures, risks and benefits, you should ask the Protocol Director, Douglas Bernheim, (650) 725-8732. <br>

	Independent Contact: If you are not satisfied with how this study is being conducted, or if you have any concerns, complaints, or general questions about the research or your rights as a participant, please contact the Stanford Institutional Review Board (IRB) to speak to someone independent of the research team at (650)-723-2480 or toll free at 1-866-680-2906. You can also write to the Stanford IRB, Stanford University, Stanford, CA 94305-5401.
	</p>


	<p style="font-size:10px">

	<b> By continuing with this study, you are consenting to participate. </b><br>

	Please make a copy of this consent form for your own records. You can do so by right-clicking and selecting "print" in most browsers. If you cannot do so on your browser, please contact the protocol director for a copy of the consent form.
	</p>

{% next_button %}

{% endblock %}
