{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Payment
{% endblock %}

{% block content %}

<p> You have now completed this study. </p>

<p> The randomly selected round was Round {{round}}. {% if waiting %} You were randomly selected to wait and earn money for the Make-A-Wish foundation and you have completed the waiting period. You have hence raised a donation of {{money}} for the Make-A-Wish Foundation and children in {{charity}}.{% else %}You were <b> not </b> randomly selected to wait and earn money for the Make-A-Wish Foundation.{% endif %}</p>

{% if extraDonationTreat %} {% if shareBool %} Your decision resulted in a donation of {{Constants.extraDonation}} to GiveDirectly! We will make the donation right after the end of the session! {% endif %}{% endif %}

<p> Your total compensation for this study is <b> {{payment}} </b>.{% if extra %} Note that you earned an extra bonus above your show-up reward! {% endif %} </p> 

<p> At this time, please fill out the payment sheet at your desk. Where it says "Cash Incentive Amount Paid:", please write in {{payment}}. Also, please make sure to sign and date the last line. </p>

<p> Once you have completed the above, please take your payment sheet to the study leader to get paid. You may then immediately leave the study. Thanks!</p>


{% endblock %}

