{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Practice Waiting
{% endblock %}

{% block content %}

<p> Next you will be making your decisions for each of the {{Constants.num_rounds}} rounds to come. If one of your decisions is selected, you will actually  have to wait in this room for the amount of time you indicated, and you will not be allowed to do anything during the waiting period. To help you get a better sense for what that will feel like, you will now wait for {{Constants.timerPractice}} seconds without doing anything while waiting. </p>


{% endblock %}
